*{margin:0;
    padding:0;
 
 }
 
 body{
      background-color: #21B809;
 }
 header{
     background-color: #ffffff;
     width: 100%;
     height: 150px;
     border-width:3px;
     border-color: #21B809;
     border-style:groove ;
     border-radius: 20px ;
     margin:auto;
 
 }
 
 menu{
     background-color: #21B809;
     width: 100%;
     height: 50px;
     border-width:3px;
     border-color: #5fa463;
     border-style:groove ;
     border-radius: 20px ;
     margin:auto;
 }
 main {
    padding: 20px;
}
 
 
 article{
     background-color: #ffff;
     width: 100%;
     height: 800px;
     border-width:3px;
     border-color: #21B809;
     border-style:groove ;
     border-radius: 20px ;
     margin:auto;
 }

 section{
    background-color:#ffffff;
    width: 100%;
    height: 700px;
    border-width:3px;
    border-color: #5fa463;
    border-style:groove ;
    border-radius: 20px ;
    margin:auto;
}
 footer{
     background-color:  #21B809;
     width: 100%;
     height: 100px;
     border-width:3px;
     border-color: #5fa463;
     border-style:groove ;
     border-radius: 20px ;
     margin:auto;
 }
 
 ul, li{
     list-style: none;
     font-family:Arial, Helvetica, sans-serif;
     z-index:5;
 }
 
  .nav li a{
       background-color: #ffffff;
       color:#101a1a;
       text-decoration: none;
       padding: 10px 15px;
       display: block;
       margin-top: 1px;
       margin-left: 2px;
       border-radius: 10px;
  }
 
  .nav>li{
     float: left;
  }
 
  .nav li a:hover{
     background-color: #b3ecaa;
     color: #74634d;
 
  }
 
  .nav li ul{
     display: none;
     position: absolute;
     min-width: 140px;
 
  }
 
  .nav li:hover > ul{
     display: block;
  }

  .contenido{
    color: #020a2b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: justify;
    padding: 25px;
    }
    
    h1{
        color:  #020a2b;
        font:Arial;        
        font-size:large;
    }
    h2{
        color:  #000000;
        font:Arial;        
        font-size: medium;
    }
    h3{
        color:  #020a2b;
        font:Arial;        
        font-size: small;
    }


    .map img {
        width: 14%;
        height: auto;
    }
